body {
    background-color: rgb(100, 149, 237);
    text-align: center;
}

.titulo {
    color: white;
}

ul {
    list-style-type: nome;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    float: center;
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    
}